@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/Mont-Regular.ttf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Mont-Regular.ttf') format('woff'); /* Modern Browsers */
  }

  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/Mont-SemiBold.ttf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Mont-SemiBold.ttf') format('woff'); /* Modern Browsers */
  }

  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/Mont-Bold.ttf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Mont-Bold.ttf') format('woff'); /* Modern Browsers */
  }

  html {
    font-family: 'Mont', sans-serif;
}

/* Font */

h1 {
    margin: 0;
    font-family: Mont;
    font-style: normal;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0em;
}

h2 {
    margin: 0;
    font-family: Mont;
    font-style: normal;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
}


h3 {
    margin: 0;
    font-family: Mont;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

.body-text {
    margin: 0;
    font-family: Mont;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.description {
    margin: 0;
    font-family: Mont;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}




/* Color */

:root {
    --color-primary:#1E70EA;
    --color-secondary: #FF7F50;
    
}







ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 24px;
    border-left: 1px solid  var(--color-primary) ;
    border-right: 1px solid  var(--color-primary) ;
    border-bottom: 1px solid  var(--color-primary) ; 
}

/* Header */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-link {
    color: var(--color-primary);
}


/* Hero */

.section-hero__hello{
    color: var(--color-primary);
}



/* Project */

.project-block {
    max-width: 960px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    color: var(--color-primary);
    border-left: 1px solid  var(--color-primary) ;
    border-right: 1px solid  var(--color-primary) ;
    border-bottom: 1px solid  var(--color-primary) ;
}

/* .project-block :hover {
    background-color: var(--color-secondary);
} */



.plashka {
    margin: 0px;
    /* cursor: pointer; */
    padding:  24px;
    display: flex;
    justify-content: space-between;
}


.grid-project {
    max-width: 960px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.preview-project {
   width: 33.333%;
    height: 228px;
    color: var(--color-primary);  
}

.preview-project :hover {
    cursor: pointer;
    color: var(--color-secondary);  
}

.preview-project :hover .img__preview-project {
    mix-blend-mode: lighten;
}

.preview-project :hover .color-layer {
    background-color: var(--color-secondary);
}

.preview-project :hover .name-project{
    color: var(--color-secondary);
}

.preview-project :hover .data-project {
    color: var(--color-secondary);
}





.link-project {
    padding: 24px;
    padding-top: 16px;
    width: auto;
    height: 228px;
    color: var(--color-primary);  
}

.color-layer{
    width: 270px;
    height: 156px;
    background-color: var(--color-primary);
    border-radius: 8px;
    transition: background-color .3s ease;
}

.img__preview-project {
    width: 270px;
    height: 156px;
    border-radius: 8px;
    filter: contrast(50%) brightness(150%) grayscale(100%) ;
    mix-blend-mode: lighten;
    transition: mix-blend-mode .3s ease;
}

.info__project-plashka {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.plug-project {

    flex: auto;
    background-color: #ffffff;
}